#newTaskForm
  = form_tag tasks_path, :method => :post do
    = text_field_tag 'new_task_text', '', id: 'new_task_text'
    = submit_tag 'Add', id: 'new_task_submit'

%ul#taskList
  - @tasks.each do |t|
    %li
      = link_to '[_]', complete_task_path(t), id: "task_check_#{t.id}"
      = t.text

