!!!
%html
  %head
    %title Fitask
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #outerBox
      %h1 Fortis IT Task Manager
      - if defined?(@errors)
        .errors
          - @errors.each do |msg|
            %span= msg
      = yield
